
.aboutContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.box{
    display: flex;
    background-color: #fff;
    width: 600px;
    height: 600px;

}
.boxCard {
  position: relative;
  top: 100px;
  left: 100px;
}
.itemBox1 {
  background-color: #fff;
  width: 500px;
  height: 280px;
  position: absolute;
  border-radius: 15px;
  box-shadow: 0 4px 15px 0px #34809160;
  direction: rtl;
  transform: rotateZ(6deg);
  z-index: 3;
  animation: change 0.5s ease-in-out 0s;
  transition: all 0.5s;
}
.itemBox2 {
  background-color: #fff;
  width: 500px;
  height: 280px;
  position: absolute;
  border-radius: 15px;
  box-shadow: 0 4px 15px 0px #34809160;
  z-index: 2;
  direction: rtl;
  transform: rotateZ(9deg);
  animation: change 0.5s ease-in-out 0s;
  transition: all 0.5s;
}
.itemBox3 {
  background-color: #fff;
  width: 500px;
  height: 280px;
  position: absolute;
  border-radius: 15px;
  box-shadow: 0 4px 15px 0px #34809160;
  z-index: 1;
  direction: rtl;
  transform: rotateZ(12deg);
  animation: change 0.5s ease-in-out 0s;
  transition: all 0.5s;
}
.itemBox3 h3 {
  color: #348091;
  margin: 30px 0;
}
.itemBox2 h3 {
  color: #348091;
  margin: 30px 0;
}
.itemBox1 h3 {
  color: #348091;
  margin: 30px 0;
}
.animation {
  text-align: right;
  padding: 20px;
  font-weight: bold;
  background-color: #fff;
  width: 500px;
  height: 280px;
  position: absolute;
  border-radius: 15px;
  box-shadow: 0 4px 15px 0px #34809160;
  z-index: 10;
  direction: rtl;
  animation: changeFirst 0.5s ease-in-out 0s;
  transition: all 0.5s;
}
.animation h3 {
  color: #348091;
  margin: 30px 0;
}
.buttons{
    display: flex;
    position: absolute;
    top: 370px;
    left: 180px;
}
.buttons button{
    color: #348091;
    font-size: 25px;
}
.photo{
  width:35%;
}
.photo img{
  width: 100%;
  /* margin-left: 600px; */
}
@keyframes change {
  0% {
    transform: translateY(0px) rotateZ(-10deg);
  }
  20% {
    transform: translateY(0px) rotateZ(-60deg);
  }
  45% {
    transform: translateY(-50%) rotateZ(-60deg);
  }
  60% {
    transform: translateY(-120%) rotateZ(-20deg);
  }
  70% {
    transform: translateY(-150%) rotateZ(-20deg);
    z-index: 10;
  }
  80% {
    transform: translateY(-50%) rotateZ(-20deg);
    z-index: 10;
  }
  100% {
    transform: translateY(0px) rotateZ(0deg);
    z-index: 10;
  }
}
@keyframes changeFirst {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(50px);
  }
  50% {
    transform: translateY(100px);
  }
  75% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0px);
  }
}
@media(max-width:900px){
  .aboutContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
}
.boxCard{
  width: 80%;
}
.photo{
  width:50%;
}
.itemBox3 .itemBox2 .itemBox1 .animation{
  width: 60%;
}
}