.accountContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 300px;
}
.information {
  width: 70%;
  margin-top: 50px;
}
.welcomeInfo {
  text-align: right;
  padding: 25px;
  box-shadow: 0 10px 25px 7px #34809128;
  margin-right: 20px;
  border-radius: 10px;
}
.courseList {
}
.userContainer {
  width: 20%;
  height: 450px;
  box-shadow: 0 10px 25px 7px #34809128;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.dataContainer {
  border-bottom: 1px solid silver;
  width: 70%;
  height: 230px;
  margin-bottom: 15px;
}
.dataContainer img {
  width: 100px;
  border: 3px solid #fff;
  box-shadow: 0 0 3px 1px #0c4668;
  border-radius: 50%;
  margin-top: 25px;
}
.buttonContainer {
  display: flex;
  flex-direction: column;
  width: 230px;
}
.buttonContainer img {
  width: 20px;
}
.buttonContainer button {
  text-align: right;
}
@media (max-width: 1100px) {
  .accountContainer {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 300px;
  }
  .userContainer {
    width: 70%;
  }
  .information {
    width: 90%;
    margin-top: 50px;
  }
}
